<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books list</title>
</head>
<body>
    

    <p>
        <ul>
            {% for bok in books %}
                <li>{{bok}}</li>
            {% endfor%}
            {% for bok in books %}
  <li>
    <a class="swap" href="#">
      <img src="{{ bok.image.url }}" alt="rasm bor">
      <div class="caption">
        <p>{{ bok.description }}</p>
      </div>
    </a>
  </li>
{% endfor %}

        </ul>
    </p>

</body>
</html>