<!-- {% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="wrapper col3">
  <div id="gallery">
    <ul>
      <li class="placeholder" style="background-image:url('layout/images/gallery-placeholder.gif');">Image Holder</li>
      <li><a class="swap" href="#"><img src="{% static 'users/images/gallery/1_s.gif' %}" alt="" /><span><img src="{% static 'users/images/gallery/1.gif' %}" width="950" height="370" alt="" /></span></a></li>
      <li><a class="swap" href="#"><img src="{% static 'users/images/gallery/2_s.gif' %}" alt="" /><span><img src="images/gallery/2.gif" width="950" height="370" alt="" /></span></a></li>
      <li><a class="swap" href="#"><img src="{% static 'users/images/gallery/3_s.gif'  %}" alt="" /><span><img src="images/gallery/3.gif" width="950" height="370" alt="" /></span></a></li>
      <li><a class="swap" href="#"><img src="images/gallery/4_s.gif" alt="" /><span><img src="images/gallery/4.gif" width="950" height="370" alt="" /></span></a></li>
      <li class="last"><a class="swap" href="#"><img src="images/gallery/5_s.gif" alt="" /><span><img src="images/gallery/5.gif" width="950" height="370" alt="" /></span></a></li>
    </ul>
  </div>
</div>
<div class="wrapper col4">
  <div id="services">
    <ul>
      <li><a href="#"><strong>Weddings</strong><img src="images/demo/234x210.gif" alt="" /></a></li>
      <li><a href="#"><strong>Corporate</strong><img src="images/demo/234x210.gif" alt="" /></a></li>
      <li><a href="#"><strong>Lifestyle</strong><img src="images/demo/234x210.gif" alt="" /></a></li>
      <li class="last"><a href="#"><strong>Events</strong><img src="images/demo/234x210.gif" alt="" /></a></li>
      <li><a href="#"><strong>Artistic</strong><img src="images/demo/234x210.gif" alt="" /></a></li>
      <li><a href="#"><strong>Infants</strong><img src="images/demo/234x210.gif" alt="" /></a></li>
      <li><a href="#"><strong>Architecture</strong><img src="images/demo/234x210.gif" alt="" /></a></li>
      <li class="last"><a href="#"><strong>Black &amp; White</strong><img src="images/demo/234x210.gif" alt="" /></a></li>
    </ul>
    <br class="clear" />
  </div>
</div>
<div class="wrapper col5">
  <div id="container">
    <div id="content">
      <h2>About This Free CSS Template</h2>
      <p>This is a W3C standards compliant free website template from <a href="http://www.os-templates.com/">OS Templates</a>.</p>
      <p>This template is distributed using a <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>, which allows you to use and modify the template for both personal and commercial use when you keep the provided credit links in the footer.</p>
      <p>For more CSS templates visit <a href="http://www.os-templates.com/">Free Website Templates</a>.</p>
      <p>Lacusenim inte trices lorem anterdum nam sente vivamus quis fauctor mauris. Wisinon vivamus wisis adipis laorem lobortis curabiturpiscingilla dui platea ipsum lacingilla.</p>
      <p>Semalique tor sempus vestibulum libero nibh pretium eget eu elit montes. Sedsemporttis sit intesque felit quis elis et cursuspenatibulum tincidunt non curabitae.</p>
    </div>
    <div id="column">
      <div class="flickrbox">
        <h2 class="title">Flickr</h2>
        <ul>
          <li><a href="#"><img src="{% static 'users/images/demo/80x80.gif' %}" alt="" /></a></li>
          <li><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></li>
          <li class="last"><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></li>
          <li><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></li>
          <li><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></li>
          <li class="last"><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></li>
        </ul>
        <br class="clear" />
      </div>
    </div>
    <br class="clear" />
  </div>
</div>


{% endblock %}
 -->
